*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    line-height: 1.6;
}

header {
    box-shadow: 0 2px 5x rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

#hero {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Imagenes/imagespp.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cta-button {
    background-color: aliceblue;
    color:#333;
    border: none;
    padding: 1rem 2 rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}
